doctype html 
html
    head
        title AK Dance academy 
        block style
    body 
        block content 
        footer#footer
        | Copyright © 2019 akidude25@gmail.com | All Rights Reserved